@using WebProje2.Models.Siniflar
@using X.PagedList.Mvc.Core;
@using X.PagedList;

@model IPagedList<Kategori>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2 style="color:darkred">Kategoriler</h2>
<table class="table table-bordered" style="margin-top:20px">
    <tr>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>
                @k.KategoriAd
            </td>
            <td><a href="/Kategori/KategoriSil/@k.KategoriID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Kategori/KategoriGetir/@k.KategoriID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa })
, new X.PagedList.Web.Common.PagedListRenderOptions
{
    LiElementClasses = new List<string>
    {"page-link"}
})
<a href="/Kategori/KategoriEkle" class="btn btn-primary">Kategori Ekle</a>
<p></p>
@if (TempData["added"] != null)
{
    <strong style="color:darkgreen">@TempData["added"]</strong>
}
@if (TempData["deleted"] != null)
{
    <strong style="color:red">@TempData["deleted"]</strong>
}
@if (TempData["updated"] != null)
{
    <strong style="color:darkblue">@TempData["updated"]</strong>
}


