@model WebProje2.Models.Siniflar.Urun

@{
    ViewBag.Title = "UrunGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Ürün Güncelleme İşlemleri</h2>
<br />

@using (Html.BeginForm("UrunGuncelle", "Urun", FormMethod.Post))
{
    @Html.HiddenFor(x => x.UrunID)
    <p>Ürün Adı</p>
    @Html.TextBoxFor(x => x.UrunAd, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.UrunAd, "", new { @style = "color:red" })
    <br />
    <p>Ürün Kategorisi</p>
    @Html.DropDownListFor(x => x.Kategoriid, (List<SelectListItem>)ViewBag.ktg1, new { @class = "form-control" })
    <br />
    <p>Ürün Markası</p>
    @Html.TextBoxFor(x => x.Marka, new { @class = "form-control" })
    <br />
    <p>Ürün Stok Sayısı</p>
    @Html.TextBoxFor(x => x.Stok, new { @class = "form-control" })
    <br />
    <p>Alış Fiyatı</p>
    @Html.TextBoxFor(x => x.AlisFiyat, new { @class = "form-control" })
    <br />
    <p>Satış Fiyatı</p>
    @Html.TextBoxFor(x => x.SatisFiyat, new { @class = "form-control" })
    <br />
    <p>Ürün Görseli</p>
    @Html.TextBoxFor(x => x.UrunGorsel, new { @class = "form-control" })
    <br />
    <button class="btn btn-warning">Ürünü Güncelle</button>
}
