@using WebProje2.Models.Siniflar
@model List<FaturaKalem>

@{
    ViewBag.Title = "FaturaDetay";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Fatura-Ürün Detay Sayfası</h2>
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active" style="color:blueviolet">İlgili Fatura Numarası : @ViewBag.fNo</li>
</ol>
<br />
<table class="table table-hover">
    <tr>
        <th>Açıklama</th>
        <th>Miktar</th>
        <th>Birim Fiyat</th>
        <th>Tutar</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Aciklama</td>
            <td>@x.Miktar</td>
            <td>@x.BirimFiyat</td>
            <td>@x.Tutar</td>

        </tr>
    }
</table>
<a href="/Fatura/YeniKalem/" class="btn btn-success">Faturaya Ürün Ekle</a>




